.custom-bg {
    // background-image: url("https://dynamic.placementindia.com/blog_images/20171027131359_image1.jpg");
    background-image: url("https://www.tvisha.com/data/category_images/job-portban-main-banner.jpg");
    height: 89vh;
    background-size: cover;
}